.loader {

    width: 70px;
    height: 60px;
    display: flex;
    position: fixed;
    top: calc(50% - 30px);
    right: calc(50% - 35px);
    z-index: 30;


    span {
        color: transparent;
        width: 10px;
        height: 60px;
        margin: 0 1px;
        background-color: white;
        animation: loading 0.8s ease-in-out infinite;

        &:nth-child(1) {
            background-color: #2eeca8;
            animation-delay: .2s;
        }

        &:nth-child(2) {
            background-color: #eade3d;
            animation-delay: .3s;
        }

        &:nth-child(3) {
            background-color: #55acee;
            animation-delay: .4s;
        }

        &:nth-child(4) {
            background-color: #ac902e;
            animation-delay: .5s;
        }

        &:nth-child(5) {
            background-color: #09b7bf;
            animation-delay: .6s;
        }

        &:nth-child(6) {
            background-color: #ea3d8c;
            animation-delay: .7s;
        }
    }


}



@keyframes loading {
    0% {
        transform: scaleY(0.1);
    }

    35% {
        transform: scaleY(1);
    }

    60%,
    100% {
        transform: scaleY(.1);
    }
}