.message-container {
    position: fixed;
    top: 1rem;
    left: 50%;
    min-width: 20rem;
    padding: .7rem;
    z-index: 3;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #fe4880, $alpha: .3);
    border: 3px solid #fe4880;
    border-radius: 1rem;
    transition: all .3s;
    opacity: 1;
    z-index: 1000;

    p {}

    .x {
        padding: .3rem;
        margin-left: 3rem;
    }
}

.closed {
    // top: -100%;
    top: 3rem;
    opacity: 0;
}